@import "tailwindcss";


@theme {

  /* font family */
  --font-primary: "Poppins", "Open Sans", serif;
 

  /* screen size */
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;


  /* color */
  --color-primary-1: #68d619;
  
  /* yellow family */
  --color-secondary-1: #475569;
  
}

.bg-logo {
  background-image: url('/logo.png');
  background-size: 600px 300px; 
  background-position: center;
  background-repeat: no-repeat;
}


@media (max-width: 1024px) { /* Adjust for small screens */
  .bg-logo {
    background-size: 200px 100px;
  }
}
